<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>platform-application</key>
    <true/>
    <key>com.apple.private.security.no-container</key>
    <true/>
    <key>com.apple.private.security.storage.AppDataContainers</key>
    <true/>
    <key>com.apple.security.app-sandbox</key>
    <false/>
    
    <!-- HID / Touch Simulation Access -->
    <key>com.apple.private.hid.manager.client</key>
    <true/>
    <key>com.apple.private.hid.client.event-dispatch</key>
    <true/>
    <key>com.apple.private.hid.client.event-filter</key>
    <true/>
    
    <!-- SpringBoard / BackBoard Access -->
    <key>com.apple.backboard.client</key>
    <true/>
    <key>com.apple.springboard.launchapplications</key>
    <true/>
    
    <!-- Prevent suspension in background -->
    <key>com.apple.private.runningboard.can-create-primitive-assertion</key>
    <true/>
</dict>
</plist>
