<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Critical: Allows access to IOHIDEventSystem -->
    <key>com.apple.private.hid.client.event-dispatch</key>
    <true/>
    <key>com.apple.private.hid.manager.client</key>
    <true/>

    <!-- Critical: Bypass Sandbox (act as Root) -->
    <key>com.apple.private.security.no-container</key>
    <true/>
    <key>platform-application</key>
    <true/>

    <!-- Allows launching other apps (SpringBoardServices) -->
    <key>com.apple.springboard.launchapplications</key>
    <true/>
    
    <!-- Prevent suspension in background -->
    <key>com.apple.private.runningboard.can-create-primitive-assertion</key>
    <true/>
</dict>
</plist>
