<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Required for IOHIDEvent touch injection -->
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	
	<!-- Allow querying other apps' URL schemes -->
	<key>com.apple.private.canOpenAnything</key>
	<true/>
	
	<!-- Background execution -->
	<key>com.apple.multitasking.systemappmonitor</key>
	<true/>
</dict>
</plist>
